<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <title>Home</title>
</head>
<body>
    <nav th:replace="layouts :: nav"></nav>

    <div class="container">
        <h4> Current Projects </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Project Name </th>
                    <th scope="col"> Project Stage </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}"></td>
                    <td th:text="${project.stage}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h4> Current Employees </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> First Name </th>
                    <th scope="col"> Last Name </th>
                    <th scope="col"> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>