<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">
    <title>New Project</title>
</head>
<body>
    <nav th:replace="layouts :: nav"></nav>

    <div class="container">
        <form action="/projects/save" th:object="${project}" method="POST">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" id="projectName" th:field="${project.name}" placeholder="Project Name" />
            </div>
            <div class="form-group">
                <label for="projectStage">Project Stage</label>
                <select class="form-control" id="projectStage" th:field="${project.stage}">
                    <option th:value="NOTSTARTED"> Not Started </option>
                    <option th:value="INPROGRESS"> In Progress </option>
                    <option th:value="COMPLETED"> Completed </option>
                </select>
            </div>
            <div class="form-group">
                <label for="projectDescription">Project Description</label>
                <textarea type="text" class="form-control" id="projectDescription" th:field="${project.description}" placeholder="Enter Project Description" ></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Project</button>
            </div>
        </form>
    </div>
</body>
</html>